# Media (R2) — change ONLY this when DNS moves to media.be4best.com
NEXT_PUBLIC_MEDIA_BASE_URL=

# Cloudflare
CLOUDFLARE_D1_DATABASE_ID=
CLOUDFLARE_ACCOUNT_ID=


# public site URL
NEXT_PUBLIC_SITE_URL=https://be4best.com

# for using Cloudflare Image Resizing
NEXT_PUBLIC_CF_IMAGES=true 
